server:
  port: 0

spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true

  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:stat-server
    username: sa
    password: password

logging:
  level:
    org.springframework:
      orm.jpa: INFO
      transaction: INFO
      transaction.interceptor: DEBUG
      orm.jpa.JpaTransactionManager: DEBUG